<connectionStrings>
  <!-- This connection string will be used during security processes-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20200108024953.mdf;Initial Catalog=aspnet-WebApp-20200108024953;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <!-- This connection string will be used to reference
   the solution sql database-->
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>

  
</connectionStrings>
